# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Static Libraries
*.lib
*.a

# Compiled Dynamic Libraries
*.dll
*.so
*.dylib

# Executable files
*.exe
*.out
*.app

# Debug and Release folders
debug/
release/

# Dependency Files
*.d

# Build System Files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
build/

# Logs and Temporary Files
*.log
*.tmp
*.temp

# Editor Files
*.swp
*.swo
*~
*.vscode/
.idea/
*.iml

# Operating System Files
.DS_Store
Thumbs.db

hi.exe
hide.c
hide-v1.c
hi.c
hi